.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 20px;
}

.section>*:first-child {
  flex: 0 0 28%;
}

.section>*:last-child {
  flex: 0 0 70%;
  flex-wrap: wrap;
}

.fadeInLine {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profileImg {
  border-radius: 100%;
  object-fit: cover;
  width: 500px;  
  height: 500px;  
  transition: all 0.3s ease-in-out;
}


.headingAbout {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.articleContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articlePara1 {
  font-size: 36px;
  font-weight: 400;
}

.mainTechContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.techStackTitle {
    font-size: 56px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}


.techstackContainer {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.CoreValueTitle {
  font-size: 56px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.coreValueCont {
  width: 1000px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width:1001px) {
  .coreValueCont {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:850px) {
  .techstackContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:640px) {
  .techstackContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .coreValueCont {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .headingAbout {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .articlePara1 {
    font-size: 20px;
  }

  .CoreValueTitle {
    font-size: 32px; 
    margin-top: 30px;
    margin-bottom: 30px;
     text-align: center;
  }

  .profileImg {
    width: 200px;  
    height: 200px; 
  }
  .techStackTitle {
        font-size: 32px; 
        font-weight: 600;
    }
}
