*{
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
}

body{
  font-family: "Roboto";
}

#index_terminalContainer__4seT6{
    width: 600px;
    min-width: 200px;
    height: 400px;
}